{% extends "base.html" %}


{% block title %}<title>MarketHub</title>{% endblock %}

{% block style_css %}
<link rel="stylesheet" type="text/css" href="../static/css/about.css">
{% endblock %}

{% block content %}
	<main>
		<section>
			<h2>Наша история</h2>
			<p>Наша компания была основана в 2023 году и с тех пор мы занимаемся продажей высококачественных товаров.</p>
		</section>
		<section>
			<h2>Наша команда</h2>
			<p>Наша команда состоит из опытных специалистов, которые уделяют большое внимание проверке качества товаров и обслуживанию клиентов.</p>
		</section>
		<section>
			<h2>Связаться с нами</h2>
			<p>Почта: <a href = "mailto: markethub169@gmail.com">markethub169@gmail.com</a></p>
			<p>Telegram: <a href="https://web.telegram.org/k/#@YaProjectK_bot">@YaProjectK_bot</a></p>
		</section>
	</main>
{% endblock %}	